{% extends "base.html" %}
{% block header %}

<title>Videos - {{menu.title}}</title>

<meta charset="UTF-8">
<meta name="description" content="{{menu.title}} - videos">
<meta name="keywords" content="videos, movies, shows,">
{% endblock %}
{% block content %}

	<div class="container full featured videos">
        {% for feat in featured %}
            {% if feat.get_video_source == "VM" %}
                <a href="" class="featured">
                   <iframe src="https://player.vimeo.com/video/{{feat.feat.video_code}}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
                </a>
            {% elif feat.get_video_source == "YT" %}
                <a href="" class="featured">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{feat.feat.video_code}}" frameborder="0" allowfullscreen></iframe>
                </a>
            {% endif %}
        {% endfor %}
        
    </div>
    <div class="page-bar">
        <div class="container medium">
            <h2>Video Collection</h2>
        </div>
    </div>
    <div class="container videos medium">
        <div class="row videos halfs">
            {% for video in videos %}
                {% if video.video_source == "YT" %}
                     
                    <div class="vvv video col-xs-12 col-md-6 col-sm-6 moreitem">
                        
                            <iframe width='100%' height='360' src='https://www.youtube.com/embed/{{video.video_code}}' frameborder='0' allowfullscreen></iframe>
                            <h2>{{video.title}}</h2>
                    </div>
                {% elif video.video_source == "VM" %}
                     
                    <div class="vvv video col-xs-12 col-md-6 col-sm-6 moreitem">
                        <iframe src="https://player.vimeo.com/video/{{video.video_code}}" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
                        <h2>{{video.title}}</h2>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="show-more morevid">
            <p>more</p>
        </div>
		

    <script type="text/javascript">
        more(2)
    </script>
{% endblock %}
	
