{% block content %}
	<ul>
	{% for entry in data %}
		<li><a href="/admin/history/{{entry.app}}/{{entry.version.content_type}}/{{entry.version.id}}">{{entry.version}}</a></li>
	{% endfor %}
	</ul>

{% endblock %}
	

