{% extends "base.html" %}
{% block header %}

<title>{{name}} - Photos - {{menu.title}}</title>

<meta charset="UTF-8">
<meta name="description" content="{{menu.title}} - {{name}} - photos">
<meta name="keywords" content="{{name}}, albums">
<meta name="author" content="{{person.first_name}} {{person.last_name}}">

{% endblock %}
{% block content %}

    <div class="container medium moments">       
        <h1>Moments in <span>{{name}}</span></h1>
        

        <div class="row moment">
          
       {% for a in albums %}
                <div class="moreitem col-xs-12 col-sm-6 col-md-4 snapshot third">
                   <div class="wrp">
                      <a href="/photos/gallery/{{a.page_url}}" class="img"> 
                        <img class="img-responsive" src="{{a.square_cover}}" />
                      </a>
                      <div class="txt">
                        <a href="/photos/gallery/{{a.page_url}}" class="name">
                          <h3>{{ a.title}}</h3>
                        </a> 
                      </div>
                    </div>
                </div>

                
       
        {% endfor %}
        
        </div>

    </div>


{% endblock %}