{% extends "base.html" %}

{% block header %}

<title>{{title}} - Photos - {{menu.title}}</title>

<meta charset="UTF-8">
<meta name="description" content="{{menu.title}} - {{name}} - photos">
<meta name="keywords" content="{{title}},">

<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="album" />

{% endblock %}

{% block content %}

    <div class="container full gallery">  
    	<div class="info">     
       		<h1>{{title}}</h1>
     	</div>
        {% for row in rows %}
            {% include "photos/rows.html" with row=row title=title %}
        {% endfor %}
    </div>
 <div class="show-more morepho" style="display:none">
            <p>more</p>
        </div>
 <script type="text/javascript">
	more(2)
	photos()
</script>

{% endblock %}