{% extends "base.html" %}
{% block header %}

<title>Photos - {{menu.title}}</title>


<meta charset="UTF-8">
<meta name="description" content="{{menu.title}} - photos">
<meta name="keywords" content="photos">
{% endblock %}
{% block content %}

    <div class="container photos full featured">
        <a  href="/photos/{{feat.page_url}}" class="feature">
            <div class="sli">
                <div class="s a">
                    <img src="{{feat.feat_image}}" alt="{{feat.title}}" />
                </div>
                <div class="text">
                    <h1>{{feat.title}}</h1>
                </div>
            </div>
            
        </a>
    </div>
    <div class="page-bar"></div> 
    <div class="container photos medium">
        <div class="row blog moment thirds">
            {% for a in albums %}
            <div class="moreitem col-xs-12 col-md-6 col-sm-6 snapshot half">
                <div class="wrp">
                    <a href="/photos/{{a.page_url}}">
                        <img  width="100%" src="{{a.square_cover}}" /> 
                    </a>
               
                    <div class="txt">
                        <a href="/photos/{{a.page_url}}"> <h3>{{a.title}}</h3></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="show-more">
        <p>more</p>
    </div>

    <script type="text/javascript">
        more(3)
    </script>




        
{% endblock %}
    
