{% if row.row_choice == 'F' %}
    
    <div class="moreitem">
	{% for i in row.images %}
	<div class="col-xs-12 col-md-12 col-sm-12 pg">
	    <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
	</div>  
	{% endfor %}
    </div>

{% elif row.row_choice == 'T' %}

    <div class="moreitem">
	{% for i in row.images %}
    <div class="col-xs-12 col-md-4 col-sm-6 pg">
        <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
    </div>  
    {% endfor %}
    </div>

{% elif row.row_choice == 'H' %}
    <div class="moreitem">
	{% for i in row.images %}
    <div class="col-xs-12 col-md-6 col-sm-6 pg">
        <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
    </div>  
    {% endfor %}
    </div>

{% elif row.row_choice == 'Q' %}
    <div class="moreitem">
	{% for i in row.images %}
    <div class="col-xs-12 col-md-3 col-sm-6 pg">
        <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
    </div>  
    {% endfor %} 
    </div>

{% endif %}