{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}
	{{ block.super }}
	<button class="sap" title="Save and preview" type="submit" name="_preview"><i class="fa fa-lg fa-floppy-o"></i><i class="fa fa-caret-right"></i><i class="fa fa-lg fa-pencil-square-o"></i> <span class="text">Save and preview</span></button>
	<script>
		var $ = django.jQuery;
		var $save_and_preview = $('.sap');
		$('#bottombar').append($save_and_preview);
	</script>
{% endblock submit_buttons_bottom %}

