<div class="row two">
    <div class="col-s-12 col-md-6 col-sm-6">
        <img src="http://lorempixel.com/600/200/abstract/7" />
    </div>  
    <div class="col-s-12 col-md-6 col-sm-6">
        <img src="http://lorempixel.com/600/200/abstract/8" />
    </div> 
</div>
       