<div class="row four">
    <div class="col-s-12 col-md-3 col-sm-3">
        <img src="http://lorempixel.com/600/200/abstract/7" />
    </div>   
    <div class="col-s-12 col-md-3 col-sm-3">
        <img src="http://lorempixel.com/600/200/abstract/8" />
    </div>
    <div class="col-s-12 col-md-3 col-sm-3">
        <img src="http://lorempixel.com/600/200/abstract/8" />
    </div> 
    <div class="col-s-12 col-md-3 col-sm-3">
        <img src="http://lorempixel.com/600/200/abstract/8" />
    </div>
</div>

 