<div class="row three">  
    <div class="col-s-12 col-md-4 col-sm-6">
        <img src="http://lorempixel.com/600/200/abstract/1" />
    </div>  
    <div class="col-s-12 col-md-4 col-sm-6">
        <img src="http://lorempixel.com/600/200/abstract/2" />
    </div> 
    <div class="col-s-12 col-md-4 col-sm-6">
        <img src="http://lorempixel.com/600/200/abstract/3" /> 
    </div>
</div>