{% extends "base.html" %}
{% block header %}
<meta charset="UTF-8">
<meta name="description" content="{{post.title}} - {% with description=post.summary|striptags %}{{description|truncatewords:150}}{% endwith %}">
<meta name="keywords" content="{% for tag in post.tags.all %}{{tag}},{% endfor %}{% for p in post.people.all %}{{p}},{% endfor %}">
<meta name="author" content="{{post.author}}">

<title>{{post.title}} - Blog - {{menu.title}}</title>
<!-- FACEBOOK SEO -->
<meta property="og:title" content="{{post.title}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{post.main_image}}" />
<meta property="og:description" content="{{post.summary}}" />
<meta property="og:site_name" content="{{post.origin}}" />

{% endblock %}
{% block content %}
    {% include "social/tw.html" %}
    <div class="container medium blog-post">
      {% if p.main_image %}
      <div class="pcw">
      <div class="feature">
      
          <img class="main img-responsive" src="{{ p.main_image }}"   alt="{% for p in post.people.all %} {{p.first_name}} {{p.last_name}}, {% endfor %}" />
      
      </div>
       <h6 class="photo-credit">Photo Credit: {{post.credit}}</h6>
      </div>
      {% endif %}

      <div class="generic">
     <div class="arws">
            {% if left %}<div class="arw l"><a href="/blog/{{left.page_url}}"><img src="https://s3.amazonaws.com/onebeatslideshow/img/left-arrow.png"></a></div>{% endif %}
            {% if right %}<div class="arw r"><a href="/blog/{{right.page_url}}"><img src="https://s3.amazonaws.com/onebeatslideshow/img/right-arrow.png"></a></div>{% endif %}
        </div>
        
        <div class="post col-xs-12">
           
              
                <h1> {{post.title}} </h1>
                <h4>{{post.date|date:"D, M d, Y"}}</h4>
                 {% if post.author %}
                  <h5> By <em><a class="uac_c" href="{{post.author_link}}">{{post.author}}</a></em></h5>
                  {% endif %}

                
                <div class="txt">
                  
                  
                  {{post.body|safe}}
                </div>
                
                <p class="end">Posted on {{post.date|date:"M d, Y"}}  
                  {% if post.category %}
                  in
                  <span>
                      <a class="uac_c uac_ch" href="/blog/category/{{post.category|slugify}}">{{post.category}}</a>
                  </span>
                  {% endif%}
                </p>
                
                  {% if post.tags.all %}
                  <p>
                    <span>tags:</span>
                  {% for tag in post.tags.all %}
                     {% if forloop.last %} 
                     <a href="/blog/tag/{{tag|slugify}}">{{tag}}</a>
                     {% else %}
                     <a href="/blog/tag/{{tag|slugify}}">{{tag}}</a>, 
                     {% endif %}
                  {% endfor %}
                  </p>
                  {% endif %}
                  
                  <h6>Share</h6>
                  <p class="sc-share">{% include "social/fb_share.html" %}
                    {% include "social/t_w.html" %}</p>
           
        </div>
      </div>
    </div>

    {% if related %}
    <div class="page-bar"><div class="container medium"><h2>Related Posts</h2></div></div>
    <div class="container related per medium">
       <div class="row blog">
          {% for post in related %}
          <div class="post col-xs-12 col-md-4 col-lg-3 col-sm-6 snapshot fourths">
              <div class="wrp">
                  <div class="ovrlay"></div>
                  <a class="img" href="/blog/{{post.page_url}}">
                      <img class="img-responsive" src="{{post.main_image}}" />
                  </a>
                  <div class="txt">
                      <h3>
                         {% if post.category %}
                                <a href="/blog/category/{{post.category | slugify}}">{{post.category}}</a>
                            {% endif %}
                      </h3>
                       {% if post.origin %} 
                         <h6>
                            <a href="">{{post.origin}}</a>
                        </h6>
                        {% endif %}
                      <h2>
                          <a href="/blog/{{post.page_url}}">{{post.title}}</a>
                      </h2>
                      <h4>{{post.date|date:"D, M d, Y"}}</h4> 
                      {% if post.summary %}
                          <a href="/blog/{{post.page_url}}">{{post.summary|safe}}</a>
                      {% endif %}  
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
    {% endif %}
     


{% endblock %}