{% extends "base.html" %}
{% block header %}

<title>Blog - {{menu.title}}</title>

<meta charset="UTF-8">
<meta name="description" content="{{menu.title}} - blog">
<meta name="keywords" content="blog">
{% endblock %}
{% block content %}
    <div class="container blog full featured">
        <a  href="/blog/{{feat.page_url}}" class="feature">
            <div class="sli">
                <div class="s a">
                    <img src="{{feat.feat_image}}" alt="{{feat.title}}" />

                </div>
                <div class="text">
                    <h1>{{feat.title}}</h1>
                </div>
            </div>
            
        </a>
    </div>
    <div class="page-bar filter">
        <div class="container medium">
            {% if current %}
                <p>{{current | safe}}</p>
            {% else %}
            <ul>
            {% for t in cat_names %}
                {% if t == "all" %}
                    {% if current_cat == "all" %}
                        <li class="a"><a href="/blog">{{t}}</a></li>
                    {% else %}
                        <li><a href="/blog"></a></li>
                    {% endif %}
                {% elif t.name == current_cat %}
                    <li class="a"><a href="/blog/category/{{ t|slugify }}">{{t}}</a></li>
                {% else %}
                    <li><a href="/blog/category/{{ t|slugify }}">{{t}}</a></li>
                {% endif %}
                
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
 
    <div class="container blog medium ls">
        <div class="row blog">
            {% for post in first_posts %}
            <div class="col-xs-12 col-md-4 col-sm-6 snapshot thirds">
                <div class="wrp">
                    <div class="ovrlay"></div>
                    <a class="img" href="/blog/{{post.page_url}}">
                        <img class="img-responsive" src="{{post.snapshot_image}}" />
                    </a>
                    {% if post.snapshot_image %}
                        <div class="txt">
                    {% elif post.origin %}
                        <div class="txt m">
                    {% else %}
                        <div class="txt">
                    {% endif %}
                        {% if post.category %}
                        <h3>
                            <a href="/blog/category/{{post.category |slugify}}">{{post.category}}</a>
                        </h3>
                         {% endif %}
                        {% if post.origin %} 
                         <h6>
                            <a href="http://{{post.origin.name}}">{{post.origin}}</a>
                        </h6>
                        {% endif %}
                        <h2>
                            <a href="/blog/{{post.page_url}}">{{post.title}}</a>
                        </h2>
                        <h4>{{post.date|date:"M d, Y"}}</h4>
                        {% if post.author %} 
                        <h5>
                            {% if post.author_link %} 
                                By <a href="{{post.author_link}}">{{post.author}}</a>
                            {% else %}
                                By {{post.author}}
                            {% endif %}
                        </h5>
                        {% endif %}
                        {% if post.summary %}
                            <a href="/blog/{{post.page_url}}">{{post.summary|safe}}</a>
                        {% endif %}            
                    </div>
                  
                </div>
            </div>
            {% endfor %}
        </div>
         <div class="row blog">
            {% for post in more_posts %}
            <div class="moreitem col-xs-12 col-md-4 col-lg-3 col-sm-6 snapshot fourths">
                <div class="wrp">
                    <div class="ovrlay"></div>
                    <a class="img" href="/blog/{{post.page_url}}">
                        <img class="img-responsive" src="{{post.main_image}}" />
                    </a>
                    <div class="txt">
                        <h3>
                            {% if post.category %}
                                <a href="/blog/category/{{post.category }}">{{post.category}}</a>
                            {% endif %}
                        </h3>
                         {% if post.origin %} 
                         <h6>
                            <a href="">{{post.origin}}</a>
                        </h6>
                        {% endif %}
                        <h2>
                            <a href="/blog/{{post.page_url}}">{{post.title}}</a>
                        </h2>
                        <h4>{{post.date|date:"M d, Y"}}</h4> 
                        {% if post.summary %}
                            <a href="/blog/{{post.page_url}}">{{post.summary|safe}}</a>
                        {% endif %}  
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="show-more morepho">
            <p>more</p>
        </div>
        <script type="text/javascript">
            more(4)
        </script>
{% endblock %}