body, html { margin: 0;  background: #F0F0F0; font-size: 16px; font-family: 'Forum_Regular', sans-serif; }
h1 { font-family: 'Adam_Pro'; font-size: 2em; }
h2 { font-family: 'Adam_Pro'; font-size: 1.5em; }
a { color: #DB8383; }
a:hover { color: #BD2424;  text-decoration: none; }
a.btn { color: #fff; }

/*imported fonts*/
@font-face { font-family: 'Adam_Pro'; src: url('https://s3.amazonaws.com/ucms/fonts/Adam_Pro.otf'); }
@font-face { font-family: 'Forum_Regular'; src: url('https://s3.amazonaws.com/ucms/fonts/Forum_Regular.ttf'); }

/*ACCENT COLORS*/
.uac_c { color: #BD2424;  }
.uac_b { background: #BD2424!important; }

.uac_ch:hover { color: #DB8383; }
.uac_bh:hover { background: #DB8383; }

.s_uac { background: #DB8383!important; }
.s_uac_h:hover { background: #DB8383!important; }

.row-centered { text-align: center; }
.col-centered { display:inline-block; float:none; text-align:left;  margin-right:-4px; }


/*blog design color control*/
#content .blog-post .post .txt p { /*border-color: */}


/*general*/
#wrap { position: absolute; top: 0; width: 100%; }
#content { margin: 0; overflow: hidden; }
#content .btn { background: #BD2424; color: #fff; border-radius: 0; }
#content .ovrlay {  
  background: linear-gradient(rgba(255,255,255,0),#ffffff,#ffffff);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  pointer-events: none;
}
#content .back-tag h3 { margin: 0; float: left; font-family: 'Adam_Pro'; text-align: center; font-size: 1.1em;  padding: 15px 15px 12px 14px; color: #fff;    margin-bottom: 10px;  cursor: pointer;  }
#content .back-tag h3 a { color: #fff; }
#content .back-tag h3 a:hover { color: #000; text-decoration: }
#content .back-tag h3 a:hover #content .back-tag h3  { text-decoration: none; }

#content .generic .back-tag h3 { margin-top: -20px; margin-left: -50px; }


/*PORTFOLIO*/
#content .container.portfolio { margin-top: 130px; }
#content .container.portfolio .snapshot .wrp { height: 800px; }
#content .container.portfolio h1 {   margin-left: 15px; }


/*FEATURED IMAGE */
#content .container.featured .feature {  display: block; position: relative; width: 100%; height: 100%; overflow: hidden; }
#content .container.featured .sli .text {  position: absolute; text-align: center; font-family: 'Adam_Pro'; width: 50%; margin-left: 25%; margin-top: 150px; color: #000000; z-index: 1001; padding: 4%; background: rgba(255, 255, 255, 0.7); }
#content .container.blog.featured .sli .text { margin-top: 200px; }
#content .container.featured .feature .text h1 { margin: 0; font-size: 4em; }
#content .container.featured .feature .text h3 { margin-top: 0; font-family: 'Forum_Regular'; }
#content .container.featured .feature img { position: absolute; top: 0; }

#content .container.featured.splash .feature { width: 50%; left: 25%; top: 27.5%; }
#content .container.featured.splash .feature p { font-family: 'Forum_Regular'; font-size: 1.125em; }

/*PAGE BAR*/
.page-bar { position: relative; width: 100%; min-height: 60px; background: #C2C2C2; color: #fff; }
.page-bar p { font-family: 'Adam_Pro'; font-size: 1.3em; margin-top: 17px; margin-left: 15px; }
.page-bar span { color: #000; }
.page-bar h2 { padding-left: 15px; }
.page-bar h3 { text-transform: uppercase; font-family: 'Adam_Pro'; max-width: 1170px; margin: 0 auto; padding: 15px 15px; color: #fff; }
.page-bar.filter ul { margin: 0; list-style-type: none; padding: 10px 15px; font-family: 'Adam_Pro'; font-size: .8em;  }
.page-bar.filter ul li {  display: inline-block; border-radius: 0px; cursor: pointer;  }
.page-bar.filter ul li a:hover { background-color: #DB8383;  color: #fff; }
.page-bar.filter ul li a { display: block; padding: 10px 10px 8px 10px; color: #000; }
.page-bar.filter ul li a:hover { color: #fff; }
.page-bar.filter ul li.a { color: #fff; background: #BD2424; border-radius: 0; }
.page-bar.filter ul li.a a { color: #fff; }
.page-bar .crc { position: absolute; left: 50%; bottom: 20px; z-index: 200; }
.page-bar .crc .c { float: left; margin-right: 10px; height: 15px; width: 15px; background: #6d6f73; border-radius: 7.5px; cursor: pointer; }
.page-bar .crc .c:hover { background-color: #96989c; }
.page-bar .crc .c.a { background-color: #96989c; }
.page-bar .crc .c.l { margin-right: 0; }

p.end { font-size: 1.125em; }
.sc-share {  text-transform: uppercase; font-family: 'Adam_Pro'; font-size: .9em; margin-top: 0px; }
.tw-share, .fb-share { margin-left: 5px; }
.fb-share { margin-left: 0px; }
/*OVERLAY - fades away on load - could me img or gif*/
#white { position: absolute; top: 0; background: rgba(255,255,255,1); height: 100%; width: 100%; z-index: 9999; }

/*GENERIC*/

#content .generic { margin-top: 180px; margin-bottom: 50px; padding: 50px; background: #FFF; }
#content .generic p { margin: 0; text-align: justify; font-size: 1.125em; }
#content .generic .post { margin: 0 auto; max-width: 700px; float: none; padding: 0; }
#content .blog-post .generic { margin: 0; margin-top: 30px; margin-bottom: 50px; }


/*SUBNAV */
#nav-collapse { z-index: 9999; }
#usub { padding: 0; position: absolute; top: 80px; width: 100%; z-index: 1000; }
#usub .s { position: relative; padding: 0; margin: 0 auto; }
#usub ul { float: right;  margin: 0; padding: 0; font-family: 'Adam_Pro'; font-size: .9em; list-style-type: none; }
#usub ul li { float: left; font-size: 1.125em;   display: inline-block; background: #cdcdcd; margin-right: 0px; color: #fff; }
#usub ul li a { color: #fff; padding: 15px 15px 12px 15px; display: block; width: 100%  }
#usub ul li.this { background: #BD2424; border-right: 5px solid #fff;  }
#usub ul li.this:hover { background: #BD2424;  }
#usub ul li:hover { background: #DB8383; }
#usub ul.mob { display: none; } 


/*SNAPSHOT */
#content .snapshot .wrp { height: 500px; background: #fff; position: relative; padding: 0%; margin-bottom: 30px;  overflow: hidden; }
#content .snapshot .wrp .txt { padding: 6% 10%; }
#content .snapshot .wrp .txt a { color: #000; }
#content .snapshot .wrp .txt a:hover { text-decoration: none; }
#content .snapshot .wrp .txt h2 { margin: 0; padding-top: 2%; font-family: 'Adam_Pro'; clear: both; }
#content .snapshot .wrp .txt h3 { margin: 0; float: left; padding: 1% 0 4% 0; font-family: 'Adam_Pro';  text-transform: uppercase; text-align: left; }
#content .snapshot .wrp .txt h3 a { color: #BD2424; margin-right: 10px; text-decoration: underline; }
#content .snapshot .wrp .txt h6 { position: absolute; top: 10px; margin: 0; left: 0; padding: 10px 20px 4px 20px; font-size: 1em; background: #DB8383; color: #fff; font-family: 'Adam_Pro'; }
#content .snapshot .wrp .txt h6 a { color: #fff; }
#content .snapshot .wrp .txt h4 { font-family: 'Adam_Pro'; color: #939393; margin: 0; }
#content .snapshot .wrp .txt a.au { color: #FFF; }
#content .snapshot .wrp .img { display: block; overflow: hidden; }

/*SNAPSHOT HALFS*/
#content .snapshot.half > .wrp { height: auto;   margin-bottom: 0; }
#content .snapshot.half .wrp > a { display: block; position: relative; height: 100%; width: 100%; margin: 0 auto;  }
#content .snapshot.half .info { position: absolute; top: 20%; width: 100%; background: rgba(0,0,0,.71);  }
#content .snapshot.half .info a {   display: block; width: 100%;   color: #FFF; }
#content .snapshot.half .info a:hover { color: #fff; }
#content .snapshot.half .info h2 { font-size: 1.125em; padding: 15px 0 15px 0;}
#content .snapshot.half .info h4 { font-size: 1em; padding: 0 0 15px 0;}
#content .snapshot.half .info img { width: 100%; position: relative; top: 0; left: 0; }
#content .snapshot.half .info h2 { position: relative; margin: 0; text-align: center; color: #fff; }
#content .snapshot.half .info h2 a { color: #fff; }
#content .snapshot.half .info h3 { position: relative;  margin: 0; left: 0; text-align: center; }
#content .snapshot.half .info h4 { position: relative; margin: 0; left: 0; text-align: center; }

#content .snapshot.half.wave .info h2 {   position: relative; margin: 0; text-align: center; color: #fff; font-size: 1.5em; padding: 15px 0 0 0; }
#content .container.wave h1 { margin: 0; text-align: center; }
#content .container.wave h4 { margin: 0; font-size: 1.5em; margin-bottom: 30px; text-align: center; }
#content .container.wave p {   font-size: 1.125em; margin-top: 10px; text-align: justify; }

/*SNAPSHOT THIRDS*/
#content .snapshot.thirds .wrp .txt h2 { font-size: 1.3em; }
#content .snapshot.thirds .wrp .txt h3 { font-size: .9em; }
#content .snapshot.thirds .wrp .txt h4 { font-size: .8em; padding-bottom: 5px; }
#content .snapshot.thirds .wrp .txt p { line-height: 1.5em; color: #000; }

/*SNAPSHOT FOURTHS*/
#content .snapshot.fourths .wrp .txt h2 { font-size: 1.2em; }
#content .snapshot.fourths .wrp .txt h3 { font-size: .8em; }
#content .snapshot.fourths .wrp .txt h4 { font-size: .7em; padding: 5px 0 10px 0; }
#content .snapshot.fourths .wrp .txt p { line-height: 1.4em; color: #000; }
#content .snapshot.fourths .wrp { height: 450px; }
#content .snapshot.fourths .wrp .img {  }

/*SNAPSHOT MOMENT*/
#content .snapshot.moment .info h2 { text-align: center; margin: 0; padding: 20px 0; background: #fff; color: #000; }
#content .snapshot.moment .info h2 a { color: #000; }


/*SNAPSHOT PEOPLE*/
#content .people .snapshot { margin-bottom: 3%; padding-left: 0; } 
#content .people .snapshot .img { position: relative; display: block; width: 100%; max-height: 200px; overflow: hidden; } 
#content .people .snapshot .txt { margin: 0; min-height: 114px; padding: 30px 15px 15px 15px; background: #fff; text-align: center; } 
#content .people .snapshot .txt a { color: #ff6633; }
#content .people .snapshot .txt a:hover { text-decoration: none; } 
#content .people .snapshot .txt h3 { margin: 0; font-family: 'Adam_Pro'; color: #000; font-size: 1em; } 
#content .people .snapshot .txt h5 { font-size: 1.025em; margin: 0; font-style: italic; } 
#content .people .snapshot .txt h4 { padding-top: 10px; font-family: 'Adam_Pro'; font-size: 1em; color: #711515; margin: 0; padding: 5px 0 0 0; }


/*PHOTO CREDIT*/
h6.photo-credit { position: absolute; bottom: 0; right: 30px; }
h6.photo-credit.rel {   position: relative; right: 0; font-family: 'Adam_Pro'; margin-bottom: 0; }


.show-more { margin: 20px auto; padding: 5px 10px; width: 150px; border: 1px solid #000; border-radius: 5px; font-family: 'Adam_Pro'; font-weight: 300; cursor: pointer; }
.show-more a { color: #000; }
.show-more:hover { color: #fff; border: 1px solid #8C8C8C; background: #8C8C8C; }
.show-more:hover a { color: #fff; }
.show-more p { padding-top: 4px; margin: 0; text-align: center; }


/*container general*/
#content .container { margin: 0 auto; width: 100%; padding: 0;  }
#content .container.featured { height: 700px; }
#content .container.sub { margin-top: 0%; }
#content .container .full { padding: 0; }
#content .container .row { width: 100%; margin: 0 auto; }
#content .container .title h1 { margin: 3% 0; }


/*row general*/
#content .row .nav-pills { font-family: 'Adam_Pro'; font-weight: 300; padding: 0; margin: 0 auto;  margin-bottom: 2%; border-radius: 0; }
#content .row .nav-pills li { }
#content .row .nav-pills li a { color: #000; border-radius: 0;  } 
#content .row .nav-pills li a:hover { background: #DB8383; color: #fff; }
#content .row .nav-pills li.active a { background: #BD2424; color: #fff; border-radius: 0; } 
#content .row .btn { margin: 20px 0; padding: 10px 50px; border-radius: 0; border: none; }
#content .row p { font-size: 1em; line-height: 1.5em; margin: 0 auto;   font-size: 1.125em; }

/*page widths*/
#content .container.sml { width: 60%; max-width: 1280px; }
#content .container.medium  { width: 80%; max-width: 1170px; }
#content .container.medium-large  { width: 90%; max-width: 1280px; }
#content .container.full  { width: 100%; max-width: 1920px; padding: 0; overflow: hidden; }
.medium { max-width: 1280px; }

/*navigation*/
#unav { position: absolute; width: 100%; margin: 0; border: none; background: none; padding-bottom: 10px; z-index: 1000; }
#unav .navbar-toggle {  color: #fff; margin: 0;  }
#unav .container { position: relative; padding: 0 0 0px 0; margin: 0 auto; margin-top: 25px; background: none; border-bottom: 5px solid #fff; }
#unav a.unav-img { margin-top: -10px; margin-bottom: 10px; padding: 0; height: 50px;   }
#unav a.unav-img img { width: 50px;   }
#unav a.unav-txt { margin: 0; float: left; font-size: 1em; padding: 0 0 0 20px; }
#unav a.unav-txt:hover { text-decoration: none; }
#unav a.unav-txt h1 { 
  margin: 0;
  font-family: 'Signika', sans-serif; 
  padding: 0px 7px 0 0;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  cursor: pointer; 
}
#unav ul li { text-transform: lowercase; font-family: 'Adam_Pro'; font-size: .85em; }
#unav a.unav-txt, #nav-collapse { margin-top: 0px; }
#unav .navabs.off { display: none; }
#unav .unav-img { margin: 0; float: left; }
#nav-collapse { margin: 0; padding: 0; }
#nav-collapse .navbar-right { position: absolute; margin-top: 0; top: 0;  }
#nav-collapse ul { float: right; padding: 0; }
#nav-collapse ul li { font-size: 1.125em; }
#nav-collapse ul li { padding: 0; }
#nav-collapse ul li a { color: #fff; margin: 0; padding-top: 15px; padding-bottom: 10px;  }
#nav-collapse ul li a:hover { background: #DB8383; }
#nav-collapse ul li ul li { font-size: 1em; background: #fff; }
#nav-collapse ul li ul li a { color: #000; }

#now { position: relative; padding: 14px 14px; background: #ffcc66; border-radius: 6px; border: none; cursor: pointer; }
#now:hover { background: #FCCE71; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #fff; }
.navbar-default .navbar-toggle { background: #fff; border: none; }
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover { 
  color: #555; background-color: #E2DFD8;

}


/*related*/
#content .container.related { margin-bottom: 50px; }
#content .container.related h4 { padding-left: 20px; font-family: 'Adam_Pro'; margin: 0; padding-top: 20px; color: #fff; }


/*splash*/
.container.splash h2, .container.splash h3 { font-family: 'Adam_Pro'; }
.splash-blurb { margin-top: 50px; padding: 10px 40px; background: #fff; border: 0px solid #C3C3C3; z-index: 999; text-align: center; }
.splash-blurb h2 { margin: 7% 0; font-family: 'Forum_Regular'; font-size: 1.6em; line-height: 1.25em; text-align: center; }
#content .container.splash.posts { margin-top: 50px; margin-bottom: 50px; }
.container.splash.posts { margin-bottom: 0; overflow: hidden; }
.container.splash.posts .row { margin-bottom: 10px; }
.container.splash.posts .post { position: relative; padding: 1%; margin-bottom: 0; overflow: hidden; }
.container.splash.posts .post .img { height: 200px; overflow: hidden; }
.container.splash.posts .post img { position: relative; top: 0; left: 0; z-index: 1; }
.container.splash.posts .row .post .txt { 
  position: relative; 
  font-family: 'Forum_Regular';
  top: 0;
  left:0;
  height: 150px;
  width: 100%;
  z-index: 999;
  background: #fff;
  font-size: .7em;
  color: #fff;
}
.container.splash.posts .row div .ovr { position: absolute; height: 100%; width: 100%; background: rgba(0,0,0,.5); z-index: 2; }
#content .container.splash.posts .row .post h4 { font-family: 'Adam_Pro'; color: #000; margin: 0; padding: 20px 0 10px 0; font-size: 1em; }
#content .container.splash.posts .row .post .txt { padding: 0 30px; }
#content .container.splash.posts > h3 { text-align: center; }
#content .container.splash.posts .row .post h4 a { color: #000; }
#content .container.splash.posts .row .post p { 
  font-family: 'Adam_Pro';
  color: #000; 
  text-align: left; 
  color: #606060; 
  font-size: 1.6em;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 10px 0;
  z-index: 4;
  }
#content .container.splash.posts .row.blog {   margin-top: 25px; }

  /*partners*/
#content .container.partners-wrap h2 { margin-bottom: 30px; text-align: center; }
#content .container.partners-wrap .ps h3 { text-align: center; padding-left: 10px; margin: 0; font-size: 1em; color: #4F4F4F; }
#content .container.partners-wrap .sp { padding: 0 3px; height: 100%; overflow: hidden; text-align: center; }
#content .container.partners-wrap .sp:nth-child(even) {  }
#content .container.partners-wrap .row img { margin: 0 auto; width: 100%; }


/*MAP */
#map {  width: 100%; }
#content .container.map { margin-top: 5%; background: #fff; padding: 50px;}
#content .container.map h2 { font-family: 'Adam_Pro'; margin-bottom: 20px; }
#content .container.map p {  text-align: justify; }
.leaflet-container { margin: 125px auto; margin-bottom: 50px; width:  1024px; height: 600px; }
.cluster-box{ font-size: 1.4em; height: 20px; width: 20px; background-color: red; color: white; }


/*EVENTS*/
#content .container.events .arch h3 { float: left; margin: 0; font-family: 'Adam_Pro'; text-align: center; font-size: 1.1em; background: #CACACA; padding: 15px 10px 10px 10px; color: #fff;  margin-bottom: 10px; cursor: pointer; }
#content .container.event .arch h3 { float: left; margin: 0; font-family: 'Adam_Pro'; text-align: center; font-size: 1.1em; background: #CACACA; padding: 15px 10px 10px 10px; color: #fff;   margin-top: -20px; margin-left: -50px; margin-bottom: 10px;  cursor: pointer; }
#content .container.events .arch h3 a, #content .container.event .arch h3 a { color: #fff; }
#content .container.event .sum { font-family: 'Forum_Regular'; }
#content .container.event .inf h1, #content .container.event .inf h2, #content .container.event .inf h3 { text-align: center; }
#content .container.event .inf h1 { margin-bottom: 20px; }
#content .container.event .inf h2 { color: #767373; margin: 0; font-size: 1.3em; font-family: 'Forum_Regular'; }
#content .container.event .inf h3 {  margin: 5px 0 10px 0; font-size: 1.125em;  }
#content .container.event .inf h5 { font-size: 1em; }
#content .events .row { position: relative; margin-bottom: 1em;   padding: 25px 50px 20px 50px; background: #fff; overflow: hidden; }
#content .events .row .ovrlay {   
  background: linear-gradient(rgba(255,255,255,0),#ffffff,#ffffff);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 40px;
  pointer-events: none;
}
#content .events .row.events { margin-bottom: 1em; background: none; }
#content .events .row h3 { margin: 0;  }
#content .events .row h4 { margin: 0;  }
#content .events .row h5 {   margin: 0; font-size: 1.25em; margin-top: 4px; font-family: 'Adam_Pro'; }
#content .container.events .row>h5 {   position: absolute; right: 0; top: 10px; background: #BD2424; padding: 8px 10px 5px 10px; color: #fff; font-family: 'Adam_Pro'; }
#content .container.events .row>h5 a { color: #fff; }
#content .events .row .title { width: 43%; }
#content .events .row .title h2 { font-size: 2em; margin:0; padding-bottom: 17px; }
#content .events .row .desc { width: 40%; }
#content .events .row .desc h3 { font-family: 'Adam_Pro'; }
#content .events .row .desc h5 { font-family: 'Forum_Regular'; font-style: italic; }
#content .events .row .desc p {  margin-top: 10px; }
#content .events .row .date { margin-left: 0; }
#content .events .row .date h3 a { color: #69907E; font-size: 0.7em; text-transform: uppercase; }
#content .events .block a { color: #000; text-decoration: underline; }
#content .events .block h6  {   z-index: 10001; position: absolute; left: 0; top: 170px; padding: 15px 15px 12px 15px; font-family: 'Adam_Pro'; font-size: 1em; color: #fff; margin: 0; }
#content .events .block h6 a { color: #fff; text-decoration: none; }
#content .event .row.sum p { margin-bottom: 15px; font-size: 1.125em; line-height: 1.5em; text-align: justify; }
#content .event .row.sum h6 { text-transform: uppercase; font-family: 'Adam_Pro'; margin: 0; }
#content .event .post h3 a { color: #000; text-decoration: underline; }

  /*events archive*/
#content .events .archive {   margin: 0; margin-bottom: 0px;  }
#content .events .archive.list { height: auto; padding: 15px 50px 10px 0; }
#content .events .archive.list:nth-child(odd) {   background: #DFDFDF; }
#content .events .archive.list a { color: #BD2424; text-decoration: underline; }
#content .events .archive ul { margin: 0; font-family: 'Adam_Pro'; text-align: center; list-style-type: none; }
#content .events .archive ul li {  display: inline-block; padding: 0px 15px;  }
#content .events .archive ul li.date { font-size: .85em; width: 100%; }
#content .events .archive ul li.title { overflow: inherit; height: auto; }
#content .events .archive h5 a { color: #fff; }


/*PEOPLE*/
#content .container.people { margin-top: 180px;  }
#cotnent .container.people .row.subnav {   margin-top: 20px; }
#content .people .row h1 { text-align: center; }


/*PERSON POST*/
#content .person .post { max-width: 700px; margin: 0 auto; }
#content .person .post h3.feat-med { 
  margin-bottom: 20px; 
  font-family: 'Forum_Regular';
  color: #000;
  font-style: italic;
  border-bottom: 1px solid #000;
  padding: 5px; 
}
#content .person .post iframe { height: 450px; width: 100%; }
#content .person .post .video {   margin: 20px 0 50px 0; text-align: center; }
#content .person .post .video iframe { width: 100%; }
#content .person .post .audio {   margin: 20px 0 50px 0; text-align: center; }
#content .person .post .audio iframe { width: 100%; }
#content .person .post .social { text-align: center; margin: 50px 0; }
#content .person .post .social h4 { font-family: 'Adam_Pro'; font-size: 1em; }
#content .person h2 { margin: 0; }
#content .person h3 { margin: 0; font-size: 1.25em; }
#content .person .bio { margin-top: 20px; }
#content .person .bio p { font-size: 1.125em; text-align: justify; }
#content .person .bio p span { font-family: 'Forum_Regular'; }
#content .person .post h1, #content .person .post h4 { text-align: center; }
#content .person .post h3 { font-family: 'Adam_Pro'; font-size: 1em; color: #5A0594; }
#content .person .info { padding: 0; font-family: 'Abel'; font-weight: 300; }
#content .person .info h1 { margin-top: 60px; margin-bottom: 10px; }
#content .person .info h4 { margin: 0; margin-bottom: 30px; font-style: italic;   font-size: 1.125em; font-family: 'Forum_Regular'; }
#content .person .person .img { padding: 0; }
#content .person .person .img h3 { position: absolute; padding: 5px 10px; top: 0; right: 0; }
#content .person .person .img h4 {   
  background: #DB8383;
  position: absolute;
  padding: 14px 15px 9px 15px;
  top: 0;
  right: 0;
  color: #fff;
  font-family: 'Adam_Pro';
  font-size: 1em; 
}
#content .person .social { margin-top: 30px; }
#content .person .social ul { padding: 0; list-style-type: none; }
#content .person .social ul li { height: 40px; width: 40px; display: inline-block; margin-right: 10px; }
#content .person .social ul li a { }
#content .person .social ul li a img { width: 100%; }
#content .person .person .img img { width: 767px; }
  /*  related*/
#content .container.related.per { margin-top: 50px; }
#content .container.related.per .person .post .tag { font-size: 1.125em; margin-top: 0; }


/*B L O G*/
#content .container.blog { margin-top: 0; background: no-repeat; }
#content .container.blog.medium.ls { padding-top: 50px; }
#content .blog .bpost { display: none; }
#content .blog-page { margin-top: 130px; margin-bottom: 50px; padding: 50px 0 50px 0; background: #fff; }
#content .blog-page .arws { position: absolute; left: 0; width: 100%; top: 35%; }
#content .blog-page .arws .arw { position: absolute; width: 50px; height: 80px; background: #B0B3B3; }
#content .blog-page .arws .arw.l { left: 0; }
#content .blog-page .arws .arw.r { right: 0; }
#content .blog-page .post { margin: 0 auto; max-width: 630px; font-family: 'Adam_Pro'; }
#content .blog-page .post h1 { margin: 0; padding: 0 0 20px 0; }
#content .blog-page .post h3 { margin: 0; padding: 0 0 30px 0; }
#content .blog-page .post h4 { margin: 0; padding: 10px 0 10px 0; font-size: 1em;  }
#content .blog-page .post h5 { margin: 0; padding: 0 0 20px 0; color: #939393 }
#content .blog-page .post p { font-family: 'Forum_Regular'; font-size: 1.25em; }
#content .blog-page .post ul { margin: 0; padding: 20px 0 0 0; list-style-type: none; }
#content .blog-page .post ul li { cursor: pointer; display: inline-block; }
#content .blog-page .post ul li img { height: 20px; width: 20px; background: #000; border: none; }
#content .blog-page .post img.main {  margin-bottom: 10px; } 
  /*  related*/
#content .related.blog.container.medium { margin-top: 50px; }

#content .container.blog-post { margin-top: 180px; }
#content .blog-post .pcw { max-height: 760px; width: 100%; background: #fff; position: relative; overflow: hidden }
#content .blog-post .feature {    position: relative; height: auto; max-width: 1110px; padding: 30px; overflow: hidden; }
#content .blog-post .post { }
#content .blog-post .post h1, #content .blog-post .post h4, #content .blog-post .post h5 { text-align: center; }
#content .blog-post .post h1 { font-size: 2.7em; margin-bottom: 0; }
#content .blog-post .post h4 { margin: 0; margin-top: 20px; font-size: 1.25em; }
#content .blog-post .post h5 { margin: 0;font-size: 1.125em; margin-bottom: 10px; font-size: italic; }
#content .blog-post .post h6 {  text-transform: uppercase; font-family: 'Adam_Pro'; margin: 0; margin-top: 20px; }
#content .blog-post .post .txt { margin-top: 20px; font-size: 1.125em; text-align: justify; }
#content .blog-post .post .txt p { margin: 0 0 10px; padding: 95px; border: 15px solid #F0F0F0; }
#content .blog-post .post .txt p img { margin: 20px 0; width: 100%!important; height: auto!important; }
#content .blog-post .post .txt p:first-line { font-weight: 700; font-size: 1.25em; }
#content .blog-post .post .txt h5 { margin-top: 20px;}
#content .blog-post .post .img { position: relative; }
#content .blog-post .post .img h6 { margin: 0; padding: 2px 0; position: absolute; right: 0;  }
#content .blog-post .post h3 { font-family: 'Adam_Pro'; text-decoration: underline; font-size: 1.25em; }
#content .blog-post .post p.end {  font-size: 1.25em; margin-top: 15px; margin-bottom: 0; }
#content .blog-post .post p.end span {   font-family: 'adam_pro'; text-decoration: underline; }
#content .blog-post .post .txt p.break {  padding: 0; border: 0; text-align: center; margin-top: 20px; }
#content .blog-post .post .txt p iframe { width: 100%; height: 400px; }
#content .blog .post { text-align: left; }
#content .blog .post a:hover { text-decoration: none; }






/*photos*/
#content .photos { margin-top: 0; background: no-repeat; }
#content .photos h1{ }
#content .photos .albums .album { margin-bottom: 2%; }
#content .photos .albums .album h3 { margin: 0; color: #000; }
#content .photos .albums .album a { }
#content .photos .albums .album a:hover { text-decoration: none; }
#content .photos.full .sss_f .sli .s.two { background-image: url('http://lorempixel.com/1920/700/abstract/1'); } 
#content .photos.full .sss_f .sli .s.three { background-image: url('http://lorempixel.com/1920/700/abstract/2');} 
#content .photos.full .sss_f .sli .s.four { background-image: url('http://lorempixel.com/1920/700/abstract/3'); } 
#content .photos.medium { margin-top: 50px; }
#content .photos .wrp h2 { position: relative; margin-top: 30%; text-align: center; color: #fff; }
#content .photos .wrp.ls h2 {   background: rgba(10, 0, 0, 0.69); padding: 10px; }
#content .photos .wrp img { position: relative; top: 0; left: 0; }
#content .photos .snapshot .wrp .txt, #content .moment .snapshot .wrp .txt { padding: 5% 0 4% 0; }
#content .photos .snapshot .wrp .txt h3, #content .moment .snapshot .wrp .txt h3 { text-align: center; float: none; padding: 0;   }
#content .photos .snapshot  { margin-bottom: 30px; }
#content .moment .snapshot .wrp, #content .albums .wave .wrp {  height: auto; border: 15px solid #fff; }

/*moments*/
#content .container.moments { margin-top: 180px; }
#content .container.moments h1 {  text-align: center; margin-bottom: 30px; }
#content .container.moments h1 span { color: #BD2424; }
#content .container .moment .snapshot {   position: relative; overflow: hidden; }
#content .container .moment .snapshot .txt {   position: absolute; display: block; width: 100%; text-align: center; top: 80px; background: rgba(0, 0, 0, 0.62); }
#content .container .moment .snapshot .txt { font-family: 'Adam_Pro'; }
#content .container .moment .snapshot .txt a { color: #fff; }
#content .container .moment .snapshot  .img {   width: 100%; height: 100%; display: block; }


/*events*/
#content .container.events { position: relative; margin-top: 180px; }
#content .container.events .title img { width: 100%; }
#content .container .row .title { overflow: hidden;  }
#content .container.event .row { }
#content .container.event .row .sum { }
#content .container.event .row .img {  overflow: hidden; }
#content .container.event .row .inf { }
#content .container.event .desc { font-family:'Forum_Regular'; }
#content .container.event .post { margin: 0 auto; max-width: 630px; font-family: 'Adam_Pro'; }
#content .container.event .back .post { position: absolute; left: 0; top: 0; }
#content .container.event .back .post h3 { margin: 0; font-size: 1em; background: #afe; padding: 12px 15px 5px 10px; width: 100px; }

/* videos */
#content .container.videos.full { background: #1B1B1B; padding-top: 80px; }
#content .container.videos.full iframe {}
#content .container.videos .wrp { position: relative; height: 360px; overflow: hidden; color: #fff; cursor: pointer; }
#content .container.videos .wrp h2 { position: absolute; top: 50%; left: 50%; margin: 0; padding-left: 0px; z-index: 900; }
#content .container.videos .ovr { cursor: pointer;}
#content .container.videos .ovr:hover { /*display: none;*/ }
#content .container.videos.full .featured {
position: relative;
 margin: 50px auto;
max-width: 1024px;
height: 500px;
background: #fff;
display: block;
text-transform: uppercase;
}
#content .container.videos.medium { margin-top: 50px; }
#content .container.videos.medium h5 { margin: 0 0 30px 0; padding-left: 15px; }
#content .container.videos .video img { opacity: 1; }
#content .container.videos .video img img:hover { opacity: 1; }
#content .container.videos .video .ovr:hover { background: rgba(255,255,2555,0); }
#content .container.videos .video h2 { color: #000; padding: 20px 5px 15px 0px; margin: 0;   border: 10px solid #fff; text-align: center; font-size: 1.125em;   margin-bottom: 5%; }
#content .container.videos .video iframe {  height: 360px; vertical-align: top; }

/*music*/
#content .container.music { margin-top: 0; }
#content .container.albums.medium { margin-top: 50px; }
#content .container.albums .wrp { overflow: hidden; color: #fff; cursor: pointer; }
#content .container.music.full { width: 100%; margin: 0; }
#content .container.music .music { width: 800px; margin: 0 auto; overflow: hidden; }

/*PHOTO GALLERY*/
.container.full.gallery .info { margin: 0% 5px 0% 5px; padding: 12% 3% 3% 3%; background: #C7C7C7; color: #fff; text-align: center; }
.container.full.gallery .info h1 { margin: 0; }
.container.full.gallery .info h2 { margin: 0; font-size: 1em; }
.container.full.gallery .info h3 { margin: 0; }
.container.full.gallery .row { margin: 5px; padding: 0; }
.container.full.gallery .pg { margin: 0; padding: 0 5px 10px 5px; }
.container.full.gallery .pg img { width: 100%; }

/*footer*/
#footer { margin-top: 75px; background-color: #fff; }
#footer img { float: left; display: block; }

#footer > .container { padding: 10px 0; }
#footer .foot { max-width: 1280px; min-width: 320px; }
#footer .foot h2 { margin-top: 30px; }
#footer .foot .soci p { font-size: 1.25em; }
#footer .foot .soci ul { margin: 0; padding: 0; list-style-type: none; }
#footer .foot .soci ul li { display: inline-block; height: 40px; width: 40px; margin-right: 5px; }

#footer .foot .soci { float: left; /*width: 60%;*/ height: 100%;}
#footer .foot .news { float: left; /*width: 20%; */height: 100%; font-family: 'Adam_Pro';  }
#footer .foot .news input { width: 100%; border: none; padding: 10px 0;}
#footer .foot .news button { margin-top: 10px; border: none; padding: 10px 0; width: 100%; }
#footer .foot .link { font-size: 1.25em; float: left; /*width: 20%;*/  height: 100%;}
#footer .foot .link ul { /*text-align: center;*/ margin: 15px 0 0 0; padding: 0; list-style-type: none; }
#footer .foot .link ul li { }
#footer .foot .link ul li ul { margin-top: 0; margin-left: 20px; }


/*FADING SLIDESHOW*/
.sli { position: absolute; height: 100%; width: 100%; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; z-index: 999; }
.sli .lead { position: absolute; top: 165px; width: 550px; left: 50%; margin-left: -275px;  }
.sli .lead h2 { margin: 0; font-family: 'Signika'; font-size: 2.7em; color: #FFF; background-color: rgba(46, 50, 49, 0.6); text-align: center; text-transform: uppercase; border-radius: 12px; margin: 10px 0; font-weight: 700; }
.sli .lead h2.around { width: 420px; margin: 10px auto; }
.sli .lead h2.across { width: 510px; margin: 10px auto; }
.sli .lead h3 { margin: 0; color: #FFF; background-color: #d196ac; text-align: center; width: 130px; border-radius: 10px; font-weight: 400; padding: 5px 0; font-size: 1.5em; margin: 20px auto; cursor: pointer; }
.sli .s { opacity: 0; position: absolute; top: 0; height: 100%; width: 100%; z-index: 998; }
.sli .s.a { opacity: 1; z-index: 1001; }
.sli .s.h { display: none; }
.sli .s { -webkit-transition: opacity 1500ms ease; -moz-transition: opacity 1500ms ease; -o-transition: opacity 1500ms ease; transition: opacity 1500ms ease; }
.sli .s { position: absolute;  top: -50%;  left: -50%;  width: 200%;  height: 200%; overflow: hidden; }
.sli .s img { position: absolute;  top: 0;  left: 0;  right: 0;  bottom: 0;  margin: auto;  min-width: 50%; min-height: 50%; overflow-x: hidden; }

.s { position: relative;}
.sli .s .wrd h1{ left: 0; width: 100%; }
.sli .s .wrd p{ top: 400px;   left: 0;   width: 100%; }
.sli .s .wrd a{ top: 500px;   left: 0;  width: 30%; left: 35%; }

.sli .s .wrd { top: 25%; width: 580px; margin: 0 auto; text-align: center; z-index: 999; position: relative; }
.sli .s .wrd p { margin: 20px 0; font-size: 1.5em; }
.sli .s h1 { font-size: 3em; margin: 0; margin-top: 150px; color: #000; font-weight: 400; z-index: 999; }
.sli .s h1.b { color: #000; }
.sli .s p { font-size: 1.15em; color: #000; z-index: 999; }
.sli .s p.b { color: #000; }
.sli .s a { display: inline-block; background-color: #ffcc66; color: #000; padding: 10px 20px; border-radius: 3px; margin-top: 5px; z-index: 999; }
.sli .s a:hover { background: #FFD37C; }
.sli .s.two h1, .sli .s.two p, .sli .s.four h1, .sli .s.four p { color: #000; }
.sli .s.two .wrd { width: 540px; }
.sli .s.three .wrd { width: 570px; }
.sli .s.four p { width: 430px; margin: 10px auto; }
.sss_f { position: relative; height: 700px; padding: 0; overflow: hidden; }
.sss_f .wrp { position: relative; top: 40%; margin: 0 auto; max-width: 1200px; }
.sss_f .wrp .arw { position: absolute; cursor: pointer; opacity: .8; }
.sss_f .wrp .arw:hover { opacity: 1; }
.sss_f .wrp .arw.l { left: 0; height: 90px; width: 70px; background: url('https://s3.amazonaws.com/onebeatslideshow/img/left-arrow.png'); z-index: 999; }  
.sss_f .wrp .arw.r { right: 0; height: 90px; width: 70px; background: url('https://s3.amazonaws.com/onebeatslideshow/img/right-arrow.png'); z-index: 999; }   


/*PRETTY*/
.ovr, #nav-collapse ul li a, #unav .navfix  { -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease; }
.show-more, .subnav ul li, .show-more a { -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease; }


/*RESPONSIVE*/
@media (max-width: 1023px) {

  #content .container.videos .video iframe { height: 320px; }
  #content .events .row .desc { margin-top: 15px; width: 100%; }

  .container.full.gallery .info {   padding: 30% 3% 3% 3%; }
  #content .container .moment .snapshot { margin-bottom: 5%; }

  #content .container.events .row .date { width: 100%; }
  #content .container.events .row .title { width: 100%; }

  #content .container.featured .feature .text h1 { font-size: 3em; }

  /*SPLASH*/
  .splash-blurb h2 { font-size: 1.5em; }

  #unav, #usub { padding: 0 10px; }
  .navbar-header { float: none; }
  .navbar-toggle { display: block; margin-right: 0;  }

  .navbar-collapse.collapse { display: none!important; }
  .navbar-collapse.collapse.in { display: block!important; }
  .navbar-nav { float: none!important; margin: 0; }
  .navbar-nav>li { float: none; }
  .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
  #nav-collapse { position: absolute; left: 0; width: 100%; margin: 0; padding: 0; border: none; background: #BD2424; }
  #nav-collapse ul.nav { width: 100%; }
  #nav-collapse ul li a:hover { background: none; }
  .dropdown:hover .dropdown-menu { display: none; }
  .navbar-toggle { margin-top: 15px; }


  #nav-collapse { border-color: #fff; }
  #nav-collapse .navbar-right { position: absolute; margin-top: 0; top: 0;  }
  #nav-collapse ul { float: right; padding: 0; }
  #nav-collapse ul li { font-size: 1.125em; }
  #nav-collapse ul li a { color: #fff; margin: 0; padding-top: 10px; padding-bottom: 10px; font-size: .9em; }
  #nav-collapse ul li a:hover { background-color: #DB8383; }
  #nav-collapse ul li ul li { font-size: 1em; background: #fff; }
  #nav-collapse ul li ul li a { color: #000; }

  #content .person .post iframe { height: 400px; width: 100%; }
}




@media(max-width:768px) {

  #content .moment .snapshot .wrp, #content .albums .wave .wrp {  border: 10px solid #fff; }

  #content .container.videos .video iframe { height: 450px; }

  #content .photos .snapshot  { margin-bottom: 15px; }

  #content .blog-post .generic { margin-top: 15px; }

  #content .blog-post .feature { padding: 15px 15px 30px 15px; }
  .page-bar p {   margin-left: 15px; }

  #content .generic .back-tag h3 {
  margin-top: -75px;
  margin-left: -15px; }

  #content .container.wave h1 { margin-top: 15px; }
  #content .container.events .row { padding: 5%; }
  #content .container.events .row .date { width: 100%; }
  #content .container.events .row .title { width: 100%; }
  
  #content .container.events .row .title {  width: 100%; font-size: .8em; }

  #content .container .row.people .snapshot { padding-right: 0; }
  #content .container.medium.people { padding: 5%; }
  #content .blog-post .post .txt p {
    margin: 0 0 10px;
    padding: 5%;
    border: 5px solid #F0F0F0;
    font-size: 1em;
  }
  #content .blog-post .post .txt p iframe {
    width: 100%;
    height: 300px;
  }
  #content .container.photos.medium { padding: 3%; }
  #content .wave .post iframe {   height: 300px; }
  .sss_f .wrp { top: 60%; }
  .splash-blurb { padding: 5%;   margin: 15px; }
  .splash-blurb h2 {
    font-size: 1.35em;
  }
  #usub ul li {  padding: 15px 15px 12px 14px;  }
  #content .container.featured {  height: 530px; }
  #content .generic {  padding: 15px 15px 50px 15px;   margin-left: 15px; margin-right: 15px; margin-top: 220px; }
  #content .generic p { text-align: justify; }
  #content .generic p iframe { height: 300px; }
  #content .container.map { margin: 0;   padding: 5%; }
  #content .container.featured .sli .text { width: 90%; margin-left: 5%; }
  #content .container .snapshot.wave { padding: 0 5% 5% 5%; }
 /* splash*/
  #content .row.blurb { margin: 0; }

  #usub ul { display: none; }
  #usub ul.mob { display: block; width: 100%;} 
  #usub ul.mob li { float: left; }  
  #usub ul.mob .drop { cursor: pointer; background: #fff; border-radius: 0; margin-top: 5px; /* margin-left: 5px; */ width: 100%; padding: 20px 0px 0px 0; }
  #usub ul.mob .drop ul {   display: block; background: #BD2424; width: 100%; text-align: left; }
  #usub ul.mob .drop .tri {   width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 14px 0 14px;
  border-color: #888 transparent transparent transparent;
  padding-bottom: 3px;
  margin-top: 0px;
  margin: 0 auto;
  margin-bottom: 15px;
}
  #usub ul.mob .drop ul { display: none; }
  #usub ul li:not(.this) {   padding: 0; background: none; width: 100%; margin-right: 0px; color: #000; }

  #content .people .person.thumb.col-xs-12 { width: 50%; }
  /* videos */
  #content .container.videos.full iframe , #content .container.videos.full .featured {
    height: 320px;
  }

  .navbar-header {  padding: 0 3%; }

  #nav-collapse .navbar-right { position: relative; right: 0; }
  #unav a.unav-txt h1 { /*font-size: 1.7em; padding-top: 10px; */}
  #unav .container { border-radius: 0; /*margin-top: 0*/; padding: 0;/* border: none;*/ }
  #unav .container { -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease; }
  #content .blog-page .arws { display: none; }
  #content .container.sml, #content .container.medium  { width: 100%; }

  #content .person .post iframe { height: 350px; width: 100%; }
}

@media(max-width:600px) { 
  #content .container.videos .video iframe { height: 400px; }

  #content .people .person.thumb.col-xs-12 { width: 100%; }

  #content .container.blog.full .featured .text h1 {
    font-size: 3em;
  }
  #content .container.blog.full .featured .text {
    margin-top: 48%;
  }

}

@media(max-width:420px) {

  #content .container.videos .video iframe { height: 300px; }
  #content .person .post .audio iframe { width: 100%; height: 300px; }
 
  .splash-blurb { font-size: .8em;  }

  #unav > div.container { padding: 0 15px; }
  #nav-collapse {  padding: 0; position: absolute; width: 100%; margin: 0; }
  #nav-collapse ul.nav { width: 100%; }
  #nav-collapse ul li a:hover { background: none; }
  .dropdown:hover .dropdown-menu { display: none; }
  .navbar-toggle { margin-top: 15px; }

  /*videos*/
  #content .container.videos.full iframe, #content .container.videos.full .featured { height: 320px; }

  #content .container.blog.full .featured .text h1 { font-size: 2em; }
 
} 

