<!DOCTYPE html>
<html>
<!-- LUCID STRUCTURE CONFIDENTIAL
__________________

 [2014] Lucid Structure
 All Rights Reserved.

NOTICE:  All information contained herein is, and remains
the property of Lucid Structure and its suppliers,
if any.  The intellectual and technical concepts contained
herein are proprietary to Lucid Structure
and its suppliers and may be covered by U.S. and Foreign Patents,
patents in process, and are protected by trade secret or copyright law.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from Lucid Structure. 
 -->
  <head>
  {% include "header.html" %}
    {% block header %}

    {% endblock %} 
  </head>
<body>
<div id="wrap">
  {% if menu %}
  {% block nav %}
    <div id="white"></div>


    {% if sub %}
    <div id="usub">
      <div class="s container medium">
      <ul>
        <!-- <li class="this">{{sub.name}}</li> -->
        {% for link in sub.links.all %}
          {% if path == link.text %}
          <li class="s_uac"><a href="{{link.url}}">{{link.text}}</a></li><!-- -->
          {% else %}
          <li><a href="{{link.url}}">{{link.text}}</a></li><!-- -->
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="mob">
<!--         <li class="this">{{sub.name}}</li> -->
        <li class="drop">
          <div class="tri"></div>
          <ul>
            {% for link in sub.links.all %}
             <li><a href="{{link.url}}">{{link.text}}</a></li><!-- -->
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
    </div>
    {% endif %}


    <nav id="unav" class="navbar navbar-default">
      <div class="container medium container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if menu.logo %}<a class="unav-img" href="{% if menu.logo.url %}{{menu.logo.url}}{% else %}/{% endif %}"><img src="{{menu.logo}}"/></a>{% endif %}
          {% if menu.title %}<a class="unav-txt" href="{% if menu.logo.url %}{{menu.logo.url}}{% else %}/{% endif %}"><h1>{{menu.title}}</h1></a>{% endif %}
        </div>
        {{nav|safe}}
      </div>
    </nav>
  {% endblock %}
  {% endif %}
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
 <div id="footer">
  {% block footer %}
    {% include "footer.html" with footer=footer %}
  {% endblock %}
  </div>
</div>

</body>
</html>