<div class="container medium-large">
	<div class="foot">
		<div class="soci col-xs-12 col-md-6 col-sm-6">
			{% if footer.title %} <h2>{{footer.title}}</h2> {% endif %}
			{% if footer.blurb %}<p>{{footer.blurb|safe}}</p>{% endif %}
			<ul>
				{% for i in footer.images %}
					<li><a href="{{i.url}}"><img src="https://s3.amazonaws.com/ucms/static/social/{{i.media_type}}.svg"></a></li>
				{% endfor %}
			</ul>
		</div>
		{% if footer.newsletter %}
		<div class="news col-xs-12 col-md-3 col-sm-6">
			{{footer.newsletter|safe}}
		</div>
		{% endif %}
		{% if footer.sidebar %}
		<div class="link col-xs-12 col-md-3 col-sm-6">
			{{footer.sidebar|safe}}
		</div>
		{% endif %}

	</div>
    <!-- {% if footer %}
        {{footer | safe}}
    {% endif %} -->
</div>
