{% extends "base.html" %}
{% block content %}

{% load staticfiles %}

<head>
	<title>Map - {{menu.title}}</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
 	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
 	<link rel="stylesheet" href="{% static "c/markercluster.css"%}" />
 	<script src="{% static "j/markercluster.js"%}"></script>
</head>

<style>
.map-info { background: #fff; padding: 20px; }
</style>

<!-- you can put this in another file, and maybe pass context? -->
<body>
	 
     <div id="map" class="container full"></div>   
     <div class="container medium"> 

     <div class="row blurb row-centered">
            <div class="container medium map">
                {{ blurb | safe }}
            </div>
        </div>
 
</body>

<script type="text/javascript">
	
	function pIcon(data,category) {
		return L.icon({
			iconUrl: '{% static "icons/arrow.png"%}',
	    			iconSize:     [30, 30], // size of the icon
	    		});	
	} 
	var geodata = {{geodata|safe}}
	var geo = geodata.ppl
	var geoJsonData = {
		"type": "FeatureCollection", 
		"features": [

		]
	};



	for(var i= 0 ; i < geo.length; i++) {
		var x =  { "type": "Feature", "properties": { "pop": '<a target="_blank" href="/people/' + geo[i].first_name + '_' + geo[i].last_name + '">' + geo[i].first_name + ' ' + geo[i].last_name + '</a> <br>' + geo[i].city + ', ' + geo[i].country, "marker-color": "#00ff00"  }, "geometry": { "type": "Point", "coordinates": [geo[i].longitude,geo[i].latitude ] } }	
		geoJsonData.features.push(x)
	}

	
	var tiles = L.tileLayer('http://tile.thunderforest.com/outdoors/{z}/{x}/{y}.png', {
		subdomains: '1234',
		minZoom: 2,
		noWrap: true,
		maxZoom: 7

	});
	var map = L.map('map')
	.addLayer(tiles);
	var markers = new L.MarkerClusterGroup({
		iconCreateFunction: function(cluster) {
			return new L.DivIcon({ html: '<div>' + cluster.getChildCount() + '</div>', className: 'cluster-box', iconSize: new L.Point(20, 20) })
		}
	});
	var geoJsonLayer = L.geoJson(geoJsonData, {
		onEachFeature: function (feature, layer) {
			layer.bindPopup(feature.properties.pop);
		},
		pointToLayer: function (feature, latLng) {
			return new L.Marker(latLng, {
				icon: new pIcon()
			})
		}

	});


	markers.addLayer(geoJsonLayer);
	map.addLayer(markers);
	map.fitBounds(markers.getBounds());
	
</script>

		
{% endblock %}


<!-- 
        var pruneCluster = new PruneClusterForLeaflet();

        var x = geo[3].longitude
        var y = geo[2].latitude
        
        
		for (var i = 0; i < geo.length; i++) {
			var marker = new PruneCluster.Marker(x,y);
			marker.data.icon = pIcon
			pruneCluster.RegisterMarker(marker);
		};
			
		
		
		
		detail.map.addLayer(pruneCluster);

        
      -->
