{% extends "base.html" %}
{% block header %}

<title>People - {{menu.title}}</title>

<meta charset="UTF-8">
<meta name="description" content="{{menu.title}} - people">
<meta name="keywords" content="people, {{role}}, {{year}}">

{% endblock %}
{% block content %}

    <div class="container medium people">

        <div class="row">
              {% if role %}
                <h1><a href="/people/{{role}}">{{role}}</a></h1>
              {% else%}
                <h1><a href="/people/">People</a></h1>
              {% endif %}
          
        </div>

        {{role_nav|safe}}
        
        <div class="row people">
          
       {% for p in people %}
                <div class="col-xs-12 col-sm-6 col-md-4 snapshot thirds">
                    <a href="/people/{{ p.person.first_name}}_{{ p.person.last_name}}" class="img"> 
                      <img class="img-responsive" src="{{p.person.pic}}" />
                    </a>
                    <div class="txt">
                      <a href="/people/{{ p.person.first_name}}_{{ p.person.last_name}}" class="name">
                        <h3>{{ p.person.first_name}} {{ p.person.last_name}}</h3>
                      </a> 
                      {% if p.instrument  %}
                      <h4> {{p.instrument}}</h4>
                      {% endif %}
                      {% if p.person.location.city and p.person.location.country %}
                          <h5>{{p.person.location.city}}, {{p.person.location.country}}</h5>
                      {% elif p.person.location.city %}
                        <h5>{{p.person.location.city}}</h5>
                      {% elif p.person.location.country %}
                        <h5>{{p.person.location.country}}</h5>
                      {% endif %}
                     
                      
                      
                    </div>
                </div>
            
        {% endfor %}
        
    </div>


        
           
      
     

    </div>


{% endblock %}