{% extends "base.html" %}
{% block header %}

<title>{{person.first_name}} {{person.last_name}} - People - {{menu.title}}</title>

<meta charset="UTF-8">
<meta name="description" content="{{person.first_name}} {{person.last_name}} - {% with description=person.bio|striptags %}{{description|truncatewords:150}}{% endwith %}">
<meta name="keywords" content="{{person.first_name}},{{person.last_name}},{{person.location.city}}, {{person.location.country}},">
<meta name="author" content="{{person.first_name}} {{person.last_name}}">


<meta property="og:title" content="{{person.first_name}} {{person.last_name}}" />
<meta property="og:type" content="bio" />
<meta property="og:url" content="{{link}}" />
<meta property="og:image" content="{{person.pic}}" />
<meta property="og:description" content="{{person.bio}}" />


{% endblock %}
{% block content %}

<div class="container person medium">
<div class="generic">
  <p class="sub-hidden">{{year}}</p>
  
    {% if year %}
      {% for mode in modes %}
      {% if year  == mode.year %}
      <div class="back-tag">
        <h3 class="s_uac"><a href="/people/{{mode.role}}">{{mode.role}}</a> | <a href="/people/{{mode.role}}/{{mode.year}}">{{mode.year}}</a></h3>
      </div>
      {% endif %}
      {% endfor %}
    {% else %}
      {% for mode in modes %}
      {% if mode.role and mode.year %}
      <div class="back-tag">
        <h3 class="s_uac"><a href="/people/{{mode.role}}">{{mode.role}}</a> | <a href="/people/{{mode.role}}/{{mode.year}}">{{mode.year}}</a></h3>
      </div>
      {% endif %}
      {% endfor %}
    {% endif %}

  <div class="post">
  
    <div class="row person">
      <div class="col-xs-12 info">
        <h1>{{person.first_name}} {{person.last_name}}</h1>
      
        {% if year %}
          {% for mode in modes %}
            {% if year  == mode.year %}
              {% if mode.discipline %}
                <h4 class="dis">{{mode.discipline}}</h4>
              {% endif %}
            {% endif %}
          {% endfor %}
         {% else %}
          {% for mode in modes %}

              {% if mode.discipline %}
                <h4 class="dis">{{mode.discipline}}</h4>
              {% endif %}
            
          {% endfor %}
        {% endif %}

         {% if person.location.city and person.location.country %}
          <h4>{{person.location.city}}, {{person.location.country}}</h4>
          {% elif person.location.city %}
            <h4>{{person.location.city}}</h4>
          {% elif person.location.country %}
            <h4>{{person.location.country}}</h4>
          {% endif %}
      </div>
      <div class="col-xs-12 img">
                {% if year %}
          {% for mode in modes %}
            {% if year  == mode.year %}
              {% if mode.instrument %}
                <h4 class="dis">{{mode.instrument}}</h4>
              {% endif %}
            {% endif %}
          {% endfor %}
         {% else %}
          {% for mode in modes %}

              {% if mode.instrument %}
                <h4 class="dis">{{mode.instrument}}</h4>
              {% endif %}
            
          {% endfor %}
        {% endif %}
        <img class="img-responsive"  src="{{ person.pic }}" />
        {% if person.url %}<a href="{{person.url}}">check out {{person.first_name}}</a>{% endif %}
        {% if person.credit %}<h6> {{ person.credit }} </h6> {% endif %}
      </div>
    </div>
    <div class="bio"> 
       <p>{{person.bio | safe}}</p>
    </div>
    {% if social %}
    <div class="social">
      <h4>Follow {{person.first_name}}!</h4>
      <ul>
      {% for s in social %}
        <li><a href="{{s.url}}"><img src="https://s3.amazonaws.com/ucms/static/social/{{s.media_type}}.svg"></a></li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if person.audio.all or person.video.all %}
    <h3 class="feat-med">Featured Media</h3>
    <div class="audio">
      {% for a in person.audio.all %}
        {{a.embed_code|safe}}
      {% endfor %}
    </div>
    <div class="video">
      {% for v in person.video.all %}
        {{v.embed_code|safe}}
      {% endfor %}
    </div>
    {% endif %}


  </div>
  </div>
</div>
{% if related %}
<div class="page-bar"><div class="container medium"><h2>Related Posts</h2></div></div>
<div class="container related per medium">
   <div class="row blog">
      {% for post in related %}
      <div class="post col-xs-12 col-md-4 col-lg-3 col-sm-6 snapshot fourths">
          <div class="wrp">
              <div class="ovrlay"></div>
              <a class="img" href="/blog/{{post.page_url}}">
                  <img class="img-responsive" src="{{post.main_image}}" />
              </a>
              <div class="txt">
                  <h3>
                      {% if post.category %}
                          <a href="/blog/category/{{post.category | slugify }}">{{post.category}}</a>
                      {% endif %}
                  </h3>
                  {% if post.origin %} 
                  <h6>
                    <a href="">{{post.origin}}</a>
                  </h6>
                  {% endif %}
                  <h2>
                      <a href="/blog/{{post.page_url}}">{{post.title}}</a>
                  </h2>
                  <h4>{{post.date|date:"D, M d, Y"}}</h4> 
                  {% if post.summary %}
                      <p>{{post.summary}}</p>   
                  {% endif %}  
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endif %}


{% endblock %}