{% extends "base.html" %}
{% block header %}
<title>Archive - {{menu.title}}</title>
<meta charset="UTF-8">
<meta name="description" content="{{menu.title}} - events archive">
<meta name="keywords" content="events, archive">
{% endblock %}
{% block content %}

	<div class="container medium events">
    
        <a href="/events/" class="back-tag">
           <h3 class="s_uac">Upcoming</h3>
        </a>
            {% for event in events %}
        <div class="row archive list">
            {% for type in event.types.all %}
                <h5><a href="/events/type/{{type}}">{{type}}</a></h5>
            {% endfor %}
           
                <ul>
                    
                    <li class="title"><a href="/events/{{event.page_url}}">{{event.title}}</a></li>
                    <li class="date">{{ event.date|date:"F d, o" }}</li>
                   
                    
                  
                </ul>
           
        </div>
        {% endfor %}
    </div>
 		
{% endblock %}
	

