{% extends "base.html" %}
{% block header %}
<title>Events - {{menu.title}}</title>
<meta charset="UTF-8">
<meta name="description" content="{{menu.title}} - events">
<meta name="keywords" content="events, calendar, upcomming, tickets, buy, ">
{% endblock %}
{% block content %}

	<div class="container medium events">
        <a href="/events/archive/" class="back-tag">
    	   <h3 class="s_uac">Archive</h3>
        </a>
        {% for event in events %}
        <div class="moreitem row block">
            <div class="ovrlay"></div>
            {% if event.ticket_name %}
                <h6 class="s_uac"><a href="{{event.ticket_url}}" target="_blank">{{event.ticket_name}}</a></h6>
            {% endif %}
           
            
            <div class="col-md-2 col-xs-12 col-md-offset-1 date">

                    
                    
            	<h5>{{ event.date|date:"l" }}</h5>
            	<h3>{{ event.date|date:"F d, o" }}</h3>
            	<h4>{{ event.date|date:"P" }}</h4>
              
                   
               
            </div>
            <div class="col-md-4 col-xs-12 title">
                <h2> <a href="{{event.page_url}}">{{event.title}}</a></h2>
                <a href="{{event.page_url}}" >
                    <img class="img-responsive" src="{{event.image}}"/>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 desc">
                <h3><a href="{{event.venue_link}}" target="_blank">{{event.venue}}</a></h3>
                <h4>{{event.location.city}}{% if event.location.country%}, {{event.location.country}} {% endif %}</h4>
                <p>{{event.summary}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="show-more">
        <p>more</p>
    </div>

    <script type="text/javascript">
        more(3)
    </script>
		
{% endblock %}
	

