{% extends "base.html" %}
{% block header %}

<title>{{event.title}} - Events - {{menu.title}}</title>

<meta charset="UTF-8">
<meta name="description" content="{{event.title}} - {% with description=event.summary|striptags %}{{description|truncatewords:150}}{% endwith %}">
<meta name="keywords" content="{{event.location.city}},{{event.location.country}},{{event.venue}},{{event.event_type.type_name}}, {% for p in event.persons.all %}{{p}},{% endfor %}">

<meta property="og:title" content="{{event.title}}" />
<meta property="og:image" content="{{event.image}}" />
<meta property="og:description" content="{{event.summary}}" />
<meta property="og:site_name" content="{{event.origin}}" />

{% endblock %}
{% block content %}
    {% include "social/tw.html" %}

    <div class="container event medium">
       
        <div class="generic">
        <div class="arws">
            {% if left %}<div class="arw l"><a href="/events/{{left.page_url}}"><img src="https://s3.amazonaws.com/onebeatslideshow/img/left-arrow.png"></a></div>{% endif %}
            {% if right %}<div class="arw r"><a href="/events/{{right.page_url}}"><img src="https://s3.amazonaws.com/onebeatslideshow/img/right-arrow.png"></a></div>{% endif %}
        </div>
        <a  href="/events/"class="back-tag">
           <h3 class="s_uac">Upcoming</h3>
        </a>
        <div class="post">
            <div class="row inf">
                <div class="col-xs-12">
                    <h1>{{event.title}}</h1>
                    <h2>{{event.date|date:"D, M d, Y"}}</h2>
                    <h3><a href="{{event.venue_link}}" target="_blank">{{event.venue}}</a>, {{event.location.city}}</h3>  
                    

             
                        {% if event.ticket_name %}<h5><a href="{{event.ticket_url}}" target="_blank">{{event.ticket_name}}</a></h5>{% endif %} 
               
                </div>
            </div>
            <div class="row img">
                <div class="col-md-12 col-lg-12">
                    <div class="img">
                        <img class="img-responsive" src="{{event.image}}" />
                    </div>
                    {% if event.credit %}
                    <h6 class="pc">Photo Credit: {{event.credit}}</h6>
                    {% endif %}

                </div>
            </div>
            <div class="row sum">
                <div class="col-md-12 col-lg-12">
                     <p>{{event.summary}}</p>
                     <h6>Share</h6>
                     {% include "social/fb_share.html" with link=link %}
                     {% include "social/t_w.html" with link=link %}
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="page-bar">
        <div class="container medium">
            <h2>Upcoming Events</h2>
        </div>
    </div>
    <div class="related blog container medium">
         <div class="row blog">
        {% for event in related %}
            <div class="col-xs-12 col-md-4 col-lg-3 col-sm-6 snapshot fourths">
                <div class="wrp">
                <div class="ovrlay"></div>
                    <a class="img" href="/events/{{event.page_url}}">
                        <img class="img-responsive" src="{{event.image}}" />
                    </a>
                    <div class="txt">
                
                         {% if post.origin %} 
                         <h6>
                            <a href="">{{post.origin}}</a>
                        </h6>
                        {% endif %}
                        
                        <h2>
                            <a href="/events/{{event.page_url}}">{{event.title}}</a>
                        </h2>
                        <h4>{{event.date|date:"D, M d, Y"}}</h4> 
                        <p>{{event.summary}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>


{% endblock %}