{% extends "base.html" %}

{% block header %}
<meta charset="UTF-8">
<meta name="description" content="{{page.title}} - {% with description=page.content|striptags %}{{description|truncatewords:150}}{% endwith %}">
<meta name="keywords" content="{% for tag in page.people.all %}{{p.first_name}} {{p.last_name}}, {% endfor %}">

<title>{{page.title}} - {{menu.title}}</title>
{% endblock %}
{% block content %}
<div class="container medium">
	<div class="generic">
		<div class="post col-xs-12">
			{{page.content | safe}}
		</div>
	</div>
</div>

{% endblock %}