<h2>Partners & Supporters</h2>
{% for ptn in partners %}
    {% if ptn.row_choice == "F" %}
        <div class="row row-centered ps one">
            {% if ptn.title %}
                <h3>{{ptn.title}}</h3>
            {% endif %}
            {% for i in ptn.images %}
            <div class="col-xs-4 col-md-12 col-centered col-sm-12 sp">
                {% if i.url %}
                <a href="{{i.url}}">
                    <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
                </a>
                {% else %}
                    <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
                {% endif %}
            </div>  
            {% endfor %}
        </div>
    {% elif ptn.row_choice == "H" %}
        <div class="row row-centered ps two">
            {% if ptn.title %}
                <h3>{{ptn.title}}</h3>
            {% endif %}
            {% for i in ptn.images %}
            <div class="col-xs-4 col-md-6 col-sm-6 sp col-centered">
                {% if i.url %}
                <a href="{{i.url}}">
                    <img src="{{i.image}}" alt="{{i.alt_text}}" />
                </a>
                {% else %}
                    <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
                {% endif %}
            </div>  
            {% endfor %}
        </div>
    {% elif ptn.row_choice == "T" %}
        <div class="row row-centered ps three">
            {% if ptn.title %}
                <h3>{{ptn.title}}</h3>
            {% endif %}
            {% for i in ptn.images %}
            <div class="col-xs-4 col-md-4 col-centered col-sm-6 sp">
                {% if i.url %}
                <a href="{{i.url}}">
                    <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
                </a>
                {% else %}
                    <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
                {% endif %}
            </div>  
            {% endfor %}

        </div>
    {% elif ptn.row_choice == "Q" %}
        <div class="row row-centered ps four">
            {% if ptn.title %}
                <h3>{{ptn.title}}</h3>
            {% endif %}
            {% for i in ptn.images %}
            <div class="col-xs-4 col-md-3 col-centered col-sm-3 sp">
                {% if i.url %}
                <a href="{{i.url}}">
                    <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
                </a>
                {% else %}
                    <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
                {% endif %}
            </div>  
            {% endfor %}
        </div>
    {% elif ptn.row_choice == "S" %}
        <div class="row row-centered ps six">
            {% if ptn.title %}
                <h3>{{ptn.title}}</h3>
            {% endif %}
            {% for i in ptn.images %}
            <div class="col-xs-4 col-md-2 col-sm-2 col-centered sp">
                {% if i.url %}
                <a href="{{i.url}}">
                    <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
                </a>
                {% else %}
                    <img class="img-responsive" src="{{i.image}}" alt="{{i.alt_text}}" />
                {% endif %}
            </div>  
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}