{% extends "base.html" %}
{% block header %}

<title>Portfolio - {{menu.title}}</title>

<meta charset="UTF-8">
<meta name="description" content="{{menu.title}} portfolio">
<meta name="keywords" content="portfolio, projects,">
{% endblock %}
{% block content %}
    <div class="container blog full">
        
    <div class="container portfolio medium">
        <div class="row blog">
            <h1>{{page.title}}</h1>
            {% for post in posts %}
            <div class="col-xs-12 col-md-6 col-sm-6 snapshot halfs">
                <div class="wrp">
                    <div class="ovrlay"></div>
                    <a class="img" href="/portfolio/{{post.page_url}}">
                        <img class="img-responsive" src="{{post.main_image}}" />
                    </a>
                    <div class="txt">
                        {% if post.origin %} 
                         <h6>
                            <a href="{{post.origin}}">{{post.origin}}</a>
                        </h6>
                        {% endif %}
                        {% if post.category %}
                        <h3>
                            <a href="/blog/category/{{post.category |slugify}}">{{post.category}}</a>
                        </h3>
                         {% endif %}
                        <h2>
                            <a href="/portfolio/{{post.page_url}}">{{post.title}}</a>
                        </h2>
                        {% if post.author %}
                            {% if post.author_link %}
                               <!--  <h3>By <a class="au" href="{{post.author_link}}">{{post.author}} </a></h3> -->
                            {% else %}
                            <!--     <h3>By {{post.author}} {{post.date|date:"D, M d, Y"}}</h3>  -->
                            <h4>{{post.date|date:"D, M d, Y"}}</h4> 
                            {% endif %}
                        {% endif %}
                        <h5>{% for person in post.people.all %}
                                <a href="{{person.url}}">{{person}}</a>
                            {% endfor %}
                        </h5>
                        {% if post.body %}
                            <p>{{post.summary|safe}}</p>
                        {% endif %}            
                    </div>
                    <div class="ovrlay"></div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="show-more morepho">
            <p>more</p>
        </div>
        <script type="text/javascript">
            more(2)
        </script>
{% endblock %}