{% extends "base.html" %}
{% block header %}

<title>{{menu.title}}</title>

<meta charset="UTF-8">
<meta name="description" content="{{menu.title}} - {% with description=splash.quote|striptags %}{{description|truncatewords:150}}{% endwith %}">
<meta name="keywords" content="homepage, splash, home">
{% endblock %}
{% block content %}

	    <div class="container full splash featured">
            <div class="sss_f">
                <div class="sli">
                    {% for slide in slides %}
                        {% if forloop.first %}
                            <div class="s f">
                        {% else %}  
                            <div class="s">
                        {% endif %}
                        <img src="{{slide.pic}}" />
                        <div class="feature">
                        <div class="text">
                            {% if slide.slide_name != "slide" %}<h1>{{slide.slide_name}}</h1>{% endif %}
                            {{slide.text|safe}}
                            {% if slide.button %}<a class="btn" href="{{slide.button.url}}" target="_blank">{{slide.button.text}}</a>{% endif %}
                        </div>
                        </div>
                    </div>

                    {% endfor  %}
                </div>
                <div class="wrp">
                    <div class="arw l"></div>
                    <div class="arw r"></div>
                </div>
            </div>
        </div>
        <div class="page-bar">
            <div class="crc">
                {% for slide in slides %}
                    {% if forloop.first %}
                        <div class="c f"></div>
                    {% else %}  
                        <div class="c"></div>
                    {% endif %}
                    
                {% endfor %}
            </div>
        </div>
    
        {% if splash.quote %}
        <div class="row blurb row-centered">
            <div class="col-sm-6 col-md-6 col-lg-5 text-center col-centered splash-blurb">
                <h2>{{splash.quote|safe}}</h2>
            </div>
        </div>
        {% endif %}

    {% if splash.show_posts %}
    <div class="container medium splash blog posts">
        <h3>Our Community Blog</h3>
        <div class="row blog">
            {% for post in posts %}
            <div class="col-xs-12 col-md-4 col-sm-6 snapshot thirds">
                <div class="wrp">
                    <a class="img" href="/blog/{{post.page_url}}">
                        <img class="img-responsive" src="{{post.main_image}}" />
                    </a>
                    <div class="txt">
                        {% if post.category %}
                        <h3>
                            <a class="uac_c uac_ch" href="/blog/category/{{post.category|slugify}}">{{post.category}}</a>
                        </h3>
                        {% endif%}
                        {% if post.origin %} 
                         <h6 class="s_uac">
                            <a href="">{{post.origin}}</a>
                        </h6>
                        {% endif %}
                        <h2>
                            <a href="/blog/{{post.page_url}}">{{post.title}}</a>
                        </h2>
                        <h4>{{post.date|date:"D, M d, Y"}}</h4>
                        <h5>{% for person in post.people.all %}
                                <a href="{{person.url}}">{{person}}</a>
                            {% endfor %}
                        </h5>
                        {% if post.summary %}
                            <p>{{post.summary|safe}}</p>   
                        {% endif %}            
                    </div>
                    <div class="ovrlay"></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="show-more">
            <a href="/blog"><p>visit blog</p></a>
        </div>
    </div> 
    {% endif %}
    {% if partners %}
    <div class="container sml splash partners-wrap">   
        {% include 'pages/partners.html' with partners=partners %}   
    </div>
    {% endif %}




		
{% endblock %}
	
