{% extends "base.html" %}
{% block header %}

<title>Music - {{menu.title}}</title>

<meta charset="UTF-8">
<meta name="description" content="{{menu.title}} - music">
<meta name="description" content="music">
<meta name="keywords" content="music, albums, sound, ">
{% endblock %}
{% block content %}

    <div class="container full featured music">
       <a  href="/music/{{featured.page_url}}" class="feature" >
            <div class="sli">
                <div class="s a">
                    <img src="{{featured.feat_image}}" />
                </div>
            
           
            <div class="text">
                <h1>{{featured.title}}</h1>
                <h3>{{featured.about}}</h3>
                {% for fa in featured.artists.all %}
                <h4>{{fa}}</h4>
                {% endfor %}
            </div>
            </div>
        </a>
    </div>
    <div class="page-bar">
        <div class="container medium">
            <h2>Music Releases</h2>
        </div>
    </div>
    <div class="container medium albums">
        <div class="row albums">
        {% for wave in waves %}
            <div class="moreitem col-xs-12 col-md-6 col-sm-6 snapshot half wave">
                <div class="wrp">
                    <a href="/music/{{wave.page_url}}"> 
                        <img width="100%" src="{{wave.square_image}}" />
                    </a>
                    <div class="info wave-info">
                        <a href="/music/{{wave.page_url}}"> <h2>{{wave.title}}</h2>
                         <h4>
                        {% for a in wave.artists.all %}
                            {% if forloop.last  %}
                            {{a.first_name}} {{a.last_name}}
                                <span> </span>
                            {% else %}
                            {{a.first_name}} {{a.last_name}}
                            <span> | </span>
                          {% endif %}
                          
                        {% endfor %}
                        </h4>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor%}
        </div>
    </div>

    <div class="show-more moremuse">
        <p>more</p>
    </div>

    <script type="text/javascript">
    more(3)
    </script>

    
{% endblock %}
    
