{% extends "base.html" %}
{% block header %}

<title>{{wave.title}} - Music - {{menu.title}}</title>

<meta charset="UTF-8">
<meta name="description" content="{{menu.title}} - {% with description=wave.title|striptags %}{{description|truncatewords:150}}{% endwith %}">
<meta name="keywords" content="{% for p in wave.artists.all %}{{p}},{% endfor %}">

<meta property="og:title" content="{{wave.title}}" />
<meta property="og:image" content="{{wave.square_image}}" />
<meta property="og:description" content="{{wave.about}}" />
<meta property="og:site_name" content="{{wave.origin}}" />

{% endblock %}
{% block content %}
    {% include "social/tw.html" %}

    <div class="container medium wave">
        <div class="generic">
            <a href="/music/" class="back-tag">
                <h3 class="s_uac">Music</h3>
            </a>
            <div class="post col-xs-12">
                <h1> {{wave.title}} </h1>
                     <h4>By
                    {% for a in wave.artists.all %}
                        {% if forloop.last  %}
                        <a href="/people/{{a.first_name}}_{{a.last_name}}">{{a.first_name}} {{a.last_name}}</a>
                        {% else %}
                        <a href="/people/{{a.first_name}}_{{a.last_name}}">{{a.first_name}} {{a.last_name}}, </a>
                         {% endif %}
                    {% endfor %}
                    </h4>
                    
              
                {{wave.embed|safe}}
                
                <p>{{wave.about|safe}}</p>
                <h6 class="photo-credit rel">Share</h6>
                {% include "social/fb_share.html" %}
                {% include "social/t_w.html" %}
            </div>
        </div>
    </div>

    
     


{% endblock %}